$white: #f2f2f2;
$grey: #b3b3b3;
$black: #262626;
$blue: #266EB6;

$green: #2eb82e;
$red: #e60000;
$pink: #ff00ff;
$orange: #e65c00;
$violet: #cc00cc;


$font-path: '../fonts/';
$img-path: '../img/';

$breakpoint: 800px;