footer.footer
	div.footer__row
		span Siguenos en Redes Sociales
		a.footer__social-btn(href="https://www.facebook.com" target="_blank")
			.fab.fa-facebook-square
		a.footer__social-btn(href="https://twitter.com/" target="_blank")
			.fab.fa-twitter-square
	div
		span © 2020
		img.logo(src="/static/img/logofooter.svg" alt="Buenos Juegos Logo")
		span Buenos Aires, Argentina