.error-section{
	padding: 2rem 0;
	@include fadeinAnimation;
	&__img{
		display: block;
		width: 30%;
		min-width: 200px;
		margin: 0 auto;
		@include floatAnimation;
	}

	&__title{
		margin: 1rem 0;
		color: $blue;
		text-align: center;
		font-size: 1.5srem;
	}
}