.footer{
	width: 100%;
	margin-top: 2rem;
	text-align: center;
	@include fadeinAnimation;

	.logo {
		width: 120px;
		margin: 0 .3rem;
		margin-bottom: -.35rem;
	}

	&__row{
		&:first-child{
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: .2rem;
		}
	}

	&__social-btn{
		margin-left: .5rem;
		font-size: 2rem;
		transition: all .2s;
		&:hover{
			color: $grey;
		}
	}
}