.navigation{
	position: sticky;
	top: 0;
	width: 250px;
	height: 100vh;
	background-color: $white;
	border-radius: 10px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	@include regularShadow(0);
	@include fadeinAnimation;

	.logo{ 
		display: block;
		width: 200px; 
		margin: 1.5rem auto;
	}

	&__separator{
		width: 200px;
		height: 1px;
		margin: .8rem auto;
		background-color: darken($white, 5%);
	}


	&__item{
		position: relative;
		height: 50px;
		margin: .3rem 0;
		
		&.active{
			color: $white;
			pointer-events: none;

			&:before{
				content: '>';
				display: block;
				position: absolute;
				top: 0;
				left: .6rem;
				@include takeAll;
				padding-right: .6rem;
				background-color: $black;
				border-radius: 10px;
				font-size: 1.2rem;
				text-align: end;
				line-height: 50px;
			}
		}
	}

	&__button{
		position: absolute;
		top: 0;
		left: 0;
		@include takeAll;
		text-align: center;
		line-height: 50px;
		transition: color .2s;
		&:hover { color: $grey; }
	}

	@include onMobile {
		position: fixed;
		z-index: 1;
		top: 0;
		left: -270px;
		transition: left .5s;

		&.open {
			left: 0;
		}
	}
}